name: WDIO Tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Setup Node.js and Yarn
      uses: actions/setup-node@v2
      with:
        node-version: '18'
  
    - name: Install app
      run: |
        cd cypress-realworld-app
        yarn install
    
    - name: Start website for testing
      run: |
        cd cypress-realworld-app
        yarn dev &
  
    - name: Install Java
      uses: actions/setup-java@v2
      with:
        java-version: '8'  
        distribution: 'adopt'
  
    - name: Install dependencies
      run: npm install
  
    - name: Run tests
      run: npm run report-json
      continue-on-error: true
  
    - name: Generate Allure report
      run: npm run report-html
  
    - name: Deploy Allure to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.TOKEN }}
        publish_dir: ./allure-report