name: WDIO Tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    
    - name: Clone Repository
      run: git clone https://github.com/cypress-io/cypress-realworld-app

    - name: Install Node
      uses: actions/setup-node@v2
      with:
        node-version: "21.x"

    - name: Change Directory
      run: cd cypress-realworld-app

    - name: Install dependencies
      run: |
        yarn install
        npm install

    - name: Start application
      run: yarn dev

    - name: Wait for Application to Start
      run: npx wait-on http://localhost:3000

    - name: Run WDIO Tests
      run: |
        npx run report-json
        npx run report-html

    - name: Deploy Reports
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./allure-report

    - name: Stop the Application
      run: pkill -f "yarn dev"